.containerLayout a{
    color:unset;

}
#header  {
    background-image: url("..\\public\\images\\header-svg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#header button{
    border:none;
    background-color: none;
}
#header .text-button{
    color: #fff;
    background-color: #3d907f;
    border: none;
    width: max-content;
    border-radius: 1.2em;
    margin: 1em;
    padding: 0.5em 1em;
    display: inline-block;
    font-size: 1.1em;
}

#header .text-button:hover{
    background-color: #037185;
    cursor: pointer;
    filter: drop-shadow(4px 4px 4px hsla(0deg, 0%, 0%, 0.5));
}

#header .inner-text {
        padding-top: 70px;
        padding-bottom: 380px;
}

#services{
    background-image: url("..\\public\\images\\services-svg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#services .inner-text{
    color:white;
    padding-top: 90px;
    padding-bottom: 120px;
}

#benefits-1{
    background-image: url("..\\public\\images\\benefits1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

#benefits-1 .inner-text{
    padding-top: 100px;
}

#benefits-2{
    background-image: url("..\\public\\images\\benefits2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

#benefits-2 .inner-text{
    padding-top: 80px;
}

#benefits-3{
    background-image: url("..\\public\\images\\benefits3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

#benefits-3 .inner-text{
    padding-top: 80px;
}

#download{
    background-image: url("..\\public\\images\\download.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
}

#download .row{
    margin: 10px;
}

#download button{
    background-color: #63C7B2;
    border-radius: 0.7em;
    width: 100%;
    height: 51px;
    margin: 7px;
}

#download button img{
    height: -webkit-fill-available;
    height: -moz-available;
    margin-right: 7px;
}

#footer a{
    display: block;
    color:black;
    font-weight: bold;
}
#footer .inner-text{
    padding-top: 80px;
}s