# Workflow to mirror repo

name: Mirror
on:  
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  mirror:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - uses: net-engine/github-repository-sync-action@v1
      with:
        ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
        target_repo_url: https://github.com/Bant89/mirror-parka.git 
